.chart__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.chart--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 100%;
}
